		</div>
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<% if(locals.jsPage){ %>
			<script type="text/javascript" src="assets/js/<%= jsPage %>.js"></script>
		<% } %>
	</body>
</html>
