		</div>
		<footer>
			<div class="navbar navbar-fixed-bottom text-center">
				<ul class="footer-menu">
					<li>
						<a href="https://github.com/f1she3/smarter">Smarter</a> 
						by 
						<a href="https://github.com/f1she3">f1she3</a>
						under 
						<a href="https://github.com/f1she3/smarter/blob/master/LICENSE">GPL v2</a>
					</li>
					<li>
						Icons by 
						<a href="http://www.flaticon.com/authors/roundicons" title="Roundicons">
							Roundicons
						</a> 
						from  
						<a href="http://www.flaticon.com" title="Flaticon">
							flaticon.com
						</a> 
						licensed by
						<a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
							CC 3.0 BY
						</a>
					</li>
				</ul>
			</div>
		</footer>
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<% if(locals.jsPage){ %>
			<script type="text/javascript" src="assets/js/<%= jsPage %>.js"></script>
		<% } %>
	</body>
</html>
