<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Open source real time web chat">
		<meta name="author" content="f1she3">
		<link rel="icon" href="assets/css/images/favicon.ico">
		<title>Smarter v2 #<%= locals.title %></title>
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">
						Smarter
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if(locals.title === 'register'){ %>
							<li class="active">
						<% }else{ %>
							<li>
						<% } %>
							<a href="/register">
								<span class="glyphicon glyphicon-pencil"></span>
								REGISTER
							</a>
						</li>
						<% if(locals.title === 'login'){ %>
							<li class="active">
						<% }else{ %>
							<li>
						<% } %>
							<a href="/login">
								<span class="glyphicon glyphicon-user"></span>
								LOGIN
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
