<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Open source real time web-based chat">
		<meta name="author" content="f1she3">
		<link rel="icon" href="assets/css/images/favicon.ico">
		<title>#<%= locals.title %></title>
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar-default navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    			</button>
					<a class="navbar-brand" href="/home">
						Smarter
					</a>
                		</div>
                		<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right"> 
						<% if(locals.pageName === 'chat'){ %>
							<li class="active">
						<% }else{ %>
							<li>
						<% } %>
							<a href="/chat">
								<span class="glyphicon glyphicon-comment"></span>
								 CHAT
							</a>
						</li>	
						<% if(locals.title === 'account'){ %>
							<li class="dropdown active">
						<% }else{ %>
							<li class="dropdown">
						<% } %>
							<a href="/account" class="dropdown-togle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-user"></span>
								MY ACCOUNT <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Mon compte</li>
								<li>
									<a href="/account">
										<span class="glyphicon glyphicon-info-sign"></span>
										 Informations
									</a>
								</li>
								<li>
									<a href="/contacts">
										<span class="glyphicon glyphicon-comment"></span>
										Friends
									</a>
								</li>
								<li>
									<a href="/configuration">
										<span class="glyphicon glyphicon-lock"></span>
										Identifiants
									</a>
								</li>
								<li>
									<a href="/admin">
										<span class="glyphicon glyphicon-wrench"></span>
										Administration 
									</a>
								</li>
								<li>
									<a href="/moderator">
										<span class="glyphicon glyphicon-volume-up"></span>
										 Moderation
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/logout">
										<span
											class="glyphicon
											glyphicon-off"></span>
										Log out
									</a>
								</li>
							</ul>
						</li>                                              
					</ul>
				</div><!--/.nav-collapse -->
            	</div>
		</nav>
		<div class="container">
			<div id="event"></div>
