<% if(locals.message) { %>
	<div class="col-sm-6 col-sm-offset-3">
		<div class="alert alert-<%= messageType %> text-center">
			<%= locals.message %>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		</div>
	</div>
<% } %>
