<% include ../body/header-2 %>

<div class="icon">
	<a href="/delete">
		<span class="glyphicon glyphicon-trash"></span>
	</a>
</div>
<div class="page-header">
	<h3 class="text-center">My password</h3>
</div>

<% include ../body/message-block %>

<div class="col-sm-6 col-sm-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Change my password</strong></h3>
		</div>
		<div class="panel-body">
			<form method="POST" action="">
				<div class="form-group">
					<label for="oldPassword">Current password :</label>
					<input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="*********" autofocus required>
				</div>
				<div class="form-group">
					<label for="newPassword">New password :</label>
					<input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="*********" required>
				</div>
				<div class="form-group">
					<label for="repeatPassword">Repeat new password :</label>
					<input type="password" name="repeatPassword" class="form-control" id="repeatPassword" placeholder="*********" required>
				</div>
				<button name="submit" class="btn btn-primary center-block">Change</button>
			</form>
		</div>
	</div>
</div>

<% include ../body/footer-2 %>
