<% include ../body/header-1 %>
<div class="page-header">
		<h2 class="text-center">
		Error 404
		</h2>
</div>
<h4 class="text-center">
	<span class="glyphicon glyphicon-search"></span>
	The page you are looking for is not available
</h4>
<a href="/home">
	<img src="/assets/css/images/home.svg" height="75" width="75" class="center-block">
</a>
<% include ../body/footer-1.html %>
