<% include ../body/header-1 %>

<div class="page-header">
		<h2 class="text-center">
			Error
			<%= locals.name %>
		</h2>
</div>
<h4 class="text-center">
	<%= locals.message %>
</h4>
<% if(locals.home){ %>
<a href="/home">
	<img src="/assets/css/images/home.svg" height="75" width="75" class="center-block">
</a>
<% } %>

<% include ../body/footer-1.html %>
