<% if(locals.session) { %>
<% include ../body/header-2 %>
<% }else{ %>
<% include ../body/header-1 %>
<% } %>

<div class="page-header">
	<h1 class="text-center">Welcome to Smarter !</h1>
</div>
<p class="center-block">
Smarter is an <a href="https://github.com/f1she3/smarter" target="_blank">open
	source</a> <b>real time web-chat</b>
	that allows you to <u>publicly</u> discuss with the other members,
	or <u>privately</u> with your friends. The project gets regular
	enhancements and changes, but is however stable and functionnal.
</p>
<p class="center-block">
<b><u>Security note</u> :</b>
	Your identifiers are safe and unusable for anyone abble to access the
	database, however it is hardly advised to use unique identifiers for each
	website.
</p>
<h2 class="text-center">Good chat !</h2>

<% include ../body/footer-1 %>
