<% include ../body/header-1 %>

<h3 class="text-center">Connexion</h3>

<% include ../body/message-block %>

<div class="col-sm-6 col-sm-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Se connecter</strong></h3>
		</div>
		<div class="panel-body">
			<form method="POST" action="">
				<div class="form-group">
					<label for="username">Nom d'utilisateur :</label>
					<input class="form-control"
					placeholder="pseudo" name="username" type="text" id="username" maxlength="15" autofocus required>
				</div>
				<div class="form-group">
					<label for="password">Mot de passe :</label>
					<input class="form-control" placeholder="************" name="password" type="password" id="password" required>
				</div>
				<button name="submit" class="btn btn-primary center-block" id="submit">Connexion</button>
			</form>
		</div>
	</div>
</div>

<% include ../body/footer-2 %>
