<% include ../body/header-1 %>

<h2 class="text-center">Inscription</h2>

<% include ../body/message-block %>

<div class="col-sm-6 col-sm-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>S'inscrire</strong></h3>
		</div>
		<div class="panel-body">
			<form method="POST" action="">
				<div class="form-group">
					<label for="name">Votre nom d'utilisateur :</label>
					<input type="text" class="form-control" placeholder="4 caractères minimum" name="name" id="name" maxlength="15" autofocus required>
				</div>
				<div class="form-group">
					<label for="password_reg">Votre mot de passe :</label>
					<input type="password" class="form-control" placeholder="6 caractères minimum" name="password" id="password" maxlength="60" required>
				</div>
				<div class="form-group">
					<label for="rPassword">Répétez votre mot de passe :</label>
					<input type="password" class="form-control"
					placeholder="************"
					name="rPassword" id="rPassword" maxlength="60" required>
				</div>
				<button name="submit" class="btn btn-success center-block">Inscription</button>
			</form>
		</div>
	</div>
</div>

<% include ../body/footer-2.html %>
